<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKWebViewJs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AAA5BE91F5D01E90035A312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AAA5C021F5D01E90035A312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AAA5C0D1F5D01E90035A312</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
